*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

h1,
h2,
h3 {
    margin: 0px;
    padding: 0;
    text-transform: uppercase;
}


p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    text-transform: uppercase;
}

ul {
    list-style: none;
}